.items {
    display: flex;
    justify-content: space-between;
    margin-top: 50px
}

.item {
    display: flex;
    background: chocolate;
    width: 200px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.item-through {
    display: flex;
    background: chocolate;
    width: 200px;
    font-size: 17px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: line-through;
}

.input {
    display: flex;
    background: chocolate;
    width: 200px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    color: rgb(1, 2, 1);
}

.btn {
    margin-top: 15px;
    margin-left: 20px;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: gold;
    color: #000;
    cursor: pointer;
}



.editBtn {
   margin-left: 20px;
   margin-top: 10px;
   width: 80px;
   height: 40px;
   border-radius: 5px;
   outline: none;
   background-color: aqua;
   color: rgb(40, 4, 72);
}